.footer-solution__wrapper {
    margin-top: 70px;
}

.footer-solution__container_top {
    display: flex;
    gap: 300px;
}

.footer-solution__container_bottom {
    position: relative;
}

.footer-solution__content-text_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 140px;
}

.footer-solution__bacgkround-image_top {
    position: relative;
    z-index: -2;
}

.footer-solution__bacgkround-image_bottom {
    position: absolute;
    width: 100%;
    left: 0;
    height: 800px;
    z-index: -1;
    bottom: 0px;
}

.footer-solution__title {
    max-width: 365px;
    font-size: 40px;
    text-align: center;
}

.footer-solution__subtitle {
    margin-top: 33px;
    font-size: 18px
}

.footer-solution__content-text_bottom {
    max-width: 300px;
    margin-left: 136px;
}

.footer-solution__logo {
    width: 30%;
    /* margin-bottom: 30px; */
}

.footer-solution__text {
    font-size: 20px;
    margin: 20px 0;
}

.footer-solution__text_phone {
    font-size: 30px;
    font-weight: bold;
}

.footer-solution__text_company {
    font-size: 12px;
    margin: 0;
}