.create-app {
    display: flex;
    justify-content: center;
}

.create-app__wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 827px;
}

.create-app__img {
    width: min(400px, 40vw);
}

.create-app__text-container {
    width: 80%;
}

.create-app__title {
    text-align: center;
    text-wrap: wrap;
    color: #E1E1E1;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    margin: 38px 0;
}

.create-app__text {
    color: #FFF;
    text-align: center;
    text-wrap: wrap;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}

.create-app__sliders {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.create-app__slider{
    background-color: #1F4CEE;
    width: 99px;
    height: 4px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
}

.active-slider{
    background-color: white;
}

.create-app__img-container {
    min-width: 400px;
    min-height: 813px;
}

.create-app__right {
    min-height: 827px;
}